/* 
* Styles for the Label Component
*/

/* Keep adding the Styles of the Label Size Props below and other CSS properties above */
.label.extra-large {
  font-size: 24px;
}

.label.large {
  font-size: 20px;
}

.label.medium {
  font-size: 16px;
}

.label.small {
  font-size: 14px;
}

.label.extra-small {
  font-size: 10px;
}
